#container {
    text-align: center;
    background-color: white;
    margin: 25px;
    height: 1000px;
}

form {
    margin: auto;
    width: 450px;
}

#input-image {
    width: 320px;
    margin-bottom: 20px;
}

.cropProps {
    width: 50px;
    margin-right: 5px;
}

button {
    width: 100px;
    margin-bottom: 50px;
}

#output-list {
    height: 500px;
    text-align: center;
    background-color: lightgray;
    margin-right: 400px;
    margin-left: 400px;
    overflow-y: scroll;
}

img {
    padding-right: 10px;
    padding-bottom: 5px;
}